main {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: large;
}

.video-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section {
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #aaaaaa;
}

img {
    display: block;
    max-width: 80%;
    margin: auto;
}

.screen-dump {
    box-shadow: 0px 0px 5px;
}